// global vars

body {
  font: 16px 'Myriad Pro', 'Arial';
}

// colors
// $app-color-red: #E06686;
$app-color-red: #e74c3c !default;
$app-color-blue: #3498db !default;
$app-color-green: #2ecc71 !default;
$app-color-lightgray: #ecf0f1 !default;
$app-color-white: #fff !default;
$app-color-black: #000 !default;

// sizes
$line-height: 30px;
$component-border-radius: 4px;

// functions:

$global-font-size: 16; // Default

@function em($pixels, $context: $global-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin global-transition() {
  $args: all .2s ease-in;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
