@import '../../style/vars';

$input-border-radius: $component-border-radius !default;

input[type=''],
input[type='text'],
input[type='password'],
.input {
  display: inline-flex;
  align-items: center;
  height: $line-height;
  padding: 0 em(10px);
  border: none;
  outline: none;
  border-radius: em($input-border-radius);
  box-sizing: border-box;
  background: rgba($app-color-black, 0.05);
  line-height: em($line-height);
  transition: all .2s ease-in;

  &:hover {
    background: rgba($app-color-black, 0.075);
  }
  &:focus,
  &:active,
  &.focus,
  &.active {
    background: rgba($app-color-black, 0.1);
  }

  &.danger {
    border: 1px solid rgba($app-color-red, 0.4);
    &:focus {
      border-color: rgba($app-color-red, 0.5);
    }
  }
  &.success {
    border: 1px solid rgba($app-color-green, 0.4);
    &:focus {
      border-color: rgba($app-color-green, 0.5);
    }
  }
}

.input input,
.input .input {
  padding: 0;
  border: none;
  &,
  &:hover,
  &:active,
  &:focus {
    background: transparent;
  }
}
