@import '../../style/vars';

input[type='text'],
input[type='password'],
.input {
  height: $line-height;
  padding: 0 em(10px);
  border: none;
  outline: none;
  border-radius: em(5px);
  box-sizing: border-box;
  background: rgba($app-color-black, 0.05);
  line-height: em($line-height);
  transition: all .2s ease-in;

  &:hover {
    background: rgba($app-color-black, 0.075);
  }
  &:focus {
    background: rgba($app-color-black, 0.1);
  }

  &.danger {
    border: 1px solid rgba($app-color-red, 0.4);
    &:focus {
      border-color: rgba($app-color-red, 0.5);
    }
  }
  &.success {
    border: 1px solid rgba($app-color-green, 0.4);
    &:focus {
      border-color: rgba($app-color-green, 0.5);
    }
  }
}

.input-component {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  &> .wrapper {
    width: 100%;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  .icon {
    position: absolute;
    top: 50%;
    margin-top: em(-8px);
    right: em(5px);
  }
}
