@import '../../style/vars';

button, .button {
  position: relative;
  height: $line-height;
  padding: 0 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 0.875em;
  line-height: $line-height;
  outline: none;
  cursor: pointer;
  @include global-transition;

  .badge {
    position: absolute;
    right: -2.5px;
    top: -2.5px;
    min-width: 10px;
    min-height: 10px;
    padding: 0;
    border-radius: 100%;
    background: $app-color-red;
    line-height: 10px;
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }
  &:active {
    color: $app-color-blue;
    border-color: $app-color-blue;
  }

  &.success {
    border-color: $app-color-green;

    &:hover {
      border-color: darken($app-color-green, 2.5%);
    }
    &:active {
      border-color: darken($app-color-green, 5%);
    }
  }

  &.danger {
    border-color: $app-color-red;
  }

  // Icon
  &.icon {
    padding: 0;
    min-width: $line-height;
    border: none;
    border-radius: 100%;
    background: #f8f8f8;
    text-align: center;

    &:hover {
      background: darken(#f8f8f8, 2.5%);
    }
    &:active {
      background: darken(#f8f8f8, 5%);
    }

    &.success {
      color: $app-color-white;
      background: $app-color-green;

      &:hover {
        background: darken($app-color-green, 2.5%);
      }
      &:active {
        background: darken($app-color-green, 5%);
      }
    }
    &.danger {
      color: $app-color-white;
      background: $app-color-red;

      &:hover {
        background: darken($app-color-red, 2.5%);
      }
      &:active {
        background: darken($app-color-red, 5%);
      }

      .badge {
        border: 1px solid $app-color-white;
      }
    }
    &.primary {
      color: $app-color-white;
      background: $app-color-blue;

      &:hover {
        background: darken($app-color-blue, 2.5%);
      }
      &:active {
        background: darken($app-color-blue, 5%);
      }

      .badge {
        border: 1px solid $app-color-white;
      }
    }
  }
}
