@import '../../style/vars';

@mixin badge-filled ($color, $text-color: $app-color-black) {
  color: $text-color;
  background: $color;
  border-width: 0;

  @at-root a#{&},
  &.clickable {
    cursor: pointer;
    &:hover {
      background: lighten($color, 2.5%);
    }
    &:active {
      background: darken($color, 5%);
    }
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: em(25px); // 25px out of 16px
  min-height: em(25px);
  box-sizing: border-box;
  padding: 0 em(5px);
  border-radius: em(25px);
  @include badge-filled($app-color-lightgray, $app-color-black)
  text-align: center;
  line-height: em(25px);
  @include global-transition;

  &> span {
    text-align: center;
    font-size: em(14px);
  }

  &.success {
    @include badge-filled($app-color-green, $app-color-white);
  }
  &.danger {
    @include badge-filled($app-color-red, $app-color-white);
  }
  &.warning {
    @include badge-filled($app-color-yellow, $app-color-white);
  }
  &.primary {
    @include badge-filled($app-color-blue, $app-color-white);
  }
  &.info {
    @include badge-filled($app-color-turquoise, $app-color-white);
  }
}
