@import '../../style/vars';

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: em(25px); // 25px out of 16px
  min-height: em(25px);
  box-sizing: border-box;
  padding: 0 em(5px);
  background: $app-color-lightgray;
  border-radius: em(25px);
  text-align: center;
  color: $app-color-black;
  line-height: em(25px);
  @include global-transition;

  &> span {
    text-align: center;
    font-size: em(14px);
  }

  &.success {
    color: #fff;
    background: $app-color-green;
  }
  &.danger {
    color: #fff;
    background: $app-color-red;
  }
  &.warning {
    color: #fff;
    background: $app-color-yellow;
  }
  &.primary {
    color: #fff;
    background: $app-color-blue;
  }
}

a.badge, .badge.clickable {
  cursor: pointer;
  &:hover {
    background: lighten($app-color-lightgray, 10%);
  }
  &:active {
    background: darken($app-color-lightgray, 10%);
  }

  // success
  &.success {
    &:hover {
      background: lighten($app-color-green, 10%);
    }
    &:active {
      background: darken($app-color-green, 10%);
    }
  }

  &.danger {
    &:hover {
      background: lighten($app-color-red, 10%);
    }
    &:active {
      background: darken($app-color-red, 10%);
    }
  }

  &.warning {
    &:hover {
      background: lighten($app-color-yellow, 10%);
    }
    &:active {
      background: darken($app-color-yellow, 10%);
    }
  }

  &.primary {
    &:hover {
      background: lighten($app-color-blue, 10%);
    }
    &:active {
      background: darken($app-color-blue, 10%);
    }
  }
}
