@import '../../style/vars';

.overlay {
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: $modal-background;
  transition: all .2s ease-in;

  .modal {
    $close-button-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    background: $app-color-white;
    transition: all .2s ease-in;

    &> .close-button {
      position: absolute;
      top: 0;
      right: 0;
      width: $close-button-size;
      height: $close-button-size;
      overflow: hidden;
      text-align: center;
      opacity: 0.5;
      line-height: $close-button-size;
      cursor: pointer;
      // transition: opacity .2s ease-in;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.9;
      }
    }
  }

  &.overlay-enter {
    opacity: 0;
  }
  &.overlay-enter-active {
    opacity: 1;
  }
  &.overlay-leave {
    opacity: 1;
  }
  &.overlay-leave-active {
    opacity: 0;
  }
}

.modal {
  background: $app-color-white;
}
